In [14]:
import pandas as pd
import numpy as np
from pyecharts.charts import Bar,Line,Timeline,Page,Map,Pie,Tab
from pyecharts import options as opts

import matplotlib.pyplot as plt
import seaborn as sns
from pylab import mpl
from pyecharts import options as opts
from pyecharts.globals import ThemeType

# 设置显示中文字体
mpl.rcParams["font.sans-serif"] = ["SimHei"]
# 设置正常显示符号
mpl.rcParams["axes.unicode_minus"] = False

In [15]:
df = pd.read_csv(r'2024世界GDP数据分析.csv',
                index_col = 0,encoding ='gbk')
df.head()

,中国,美国,日本,印度,德国,英国,法国,意大利,俄罗斯,加拿大,澳大利亚,巴西,韩国,瑞典,西班牙
年份,,,,,,,,,,,,,,,
1960,597,5433,443,370,2158,732,622,404,5547,405,186,152,40,158,121
1961,501,5633,535,392,2158,777,675,448,5547,409,197,152,24,172,138
1962,472,6051,607,422,2158,812,756,504,5547,422,199,199,28,187,161
1963,507,6386,695,484,2158,866,848,577,5547,450,215,230,40,202,191
1964,597,6858,817,565,2158,944,940,632,5547,494,238,212,35,225,213

In [17]:
df_world_t = pd.DataFrame(
                        data = df.values.T,
                        index = df.columns,
                        columns = df.index)
df_world_t.head()

年份,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
中国,597,501,472,507,597,704,767,729,708,797,...,104757,110616,112333,123104,138948,142799,147227,177272,179632,178890
美国,5433,5633,6051,6386,6858,7437,8150,8617,9425,10199,...,175272,182383,187451,195430,206119,214332,209366,229935,254397,273564
日本,443,535,607,695,817,910,1056,1238,1466,1722,...,48970,44449,50037,49308,50369,51488,50578,49347,42564,42474
印度,370,392,422,484,565,596,459,501,531,584,...,20391,21036,22948,26515,27011,28705,26230,30799,34166,39320
德国,2158,2158,2158,2158,2158,2158,2158,2158,2158,2158,...,38839,33562,34675,36735,39618,38611,38061,42189,40824,44560

In [18]:
tl_bar = Timeline(init_opts= opts.InitOpts(width='900px',
                                          height='500px'))

In [19]:
df_world_t.head()

年份,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
中国,597,501,472,507,597,704,767,729,708,797,...,104757,110616,112333,123104,138948,142799,147227,177272,179632,178890
美国,5433,5633,6051,6386,6858,7437,8150,8617,9425,10199,...,175272,182383,187451,195430,206119,214332,209366,229935,254397,273564
日本,443,535,607,695,817,910,1056,1238,1466,1722,...,48970,44449,50037,49308,50369,51488,50578,49347,42564,42474
印度,370,392,422,484,565,596,459,501,531,584,...,20391,21036,22948,26515,27011,28705,26230,30799,34166,39320
德国,2158,2158,2158,2158,2158,2158,2158,2158,2158,2158,...,38839,33562,34675,36735,39618,38611,38061,42189,40824,44560

In [8]:
pd.DataFrame(df_world_t[1960]).sort_values(by=1960)

      1960
韩国      40
西班牙    121
巴西     152
瑞典     158
澳大利亚   186
印度     370
意大利    404
加拿大    405
日本     443
中国     597
法国     622
英国     732
德国    2158
美国    5433
俄罗斯   5547

In [20]:
for year in range(1960,2023):
    # 1. 构造每年的数据集
    df_year_bar = pd.DataFrame(df_world_t[year]).sort_values(by=year)
    # 2. 定义X,Y轴数据
    x_list = df_year_bar.index.to_list()
    y_list = df_year_bar[year].to_list()
    # 3. 绘制Bar图
    bar = (Bar()
            .add_xaxis(x_list)
            .add_yaxis(series_name="",
                      y_axis = y_list,
                      category_gap= '50%')
            .reversal_axis()
            .set_global_opts(title_opts=opts.TitleOpts('{}年各国GDP情况'.format(year)))
          )
    tl_bar.add(chart = bar, time_point='{}年'.format(year))
    tl_bar.add_schema(play_interval =300, is_auto_play = False)

In [11]:
tl_bar.render_notebook()

'C:\\Users\\Administrator\\轮播图.html'

In [21]:
data = [('江西省',10000),('河南省', 20000),('山东省',5000),('四川省',40000)]

In [22]:
world_map = (

    Map()

    .add("World Map",data , maptype="china", is_map_symbol_show=True)

    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))

    .set_global_opts(title_opts=opts.TitleOpts(title="World Map Example"),
                     visualmap_opts= opts.VisualMapOpts(is_show=True))

)

world_map.render_notebook()