## 实验四

<font color=Tomato>**Pandas**</font>是一个开源的第三方 Python 库，从 Numpy 和 Matplotlib 的基础上构建而来，享有数据分析“三剑客之一”的盛名（NumPy、Matplotlib、Pandas）。Pandas 已经成为 Python 数据分析的必备高级工具，它的目标是成为强大、灵活、可以支持任何编程语言的数据分析工具。

<font color=Tomato>**第一部分**</font>-**DataFrame行列操作**  

请在下面<font color=Tomato>**每一行注释**</font>下添加对应的代码

列添加通过对df[新的列标签]赋值实现。
列选择可以使用del df[列标签]或者df.pop(列标签)实现。

In [2]:
#导入pandas库，并取一个别名pd
import pandas as pd
d1 = {'name':['小明','小花','小兰','小胜'],  
     'gender':['男','女','女','男'],
     'age':[20,22,19,23],
     'clazz': ['1班','1班','2班','1班']}
df1 = pd.DataFrame(d1)
print('原数据帧：')
print(df1)

原数据帧：
  name gender  age clazz
0   小明      男   20    1班
1   小花      女   22    1班
2   小兰      女   19    2班
3   小胜      男   23    1班

In [7]:
#列选择：df[列标签] 或者df[列标签列表]（注意是二维列表！！！）
print('选择name列：')
print(df1["name"])
print('选择name,age列：')
print(df1[["name","age"]])

选择name列：
0    小明
1    小花
2    小兰
3    小胜
Name: name, dtype: object
选择name,age列：
  name  age
0   小明   20
1   小花   22
2   小兰   19
3   小胜   23

In [150]:
#列添加：df[新的列标签] = pd.Series(新数据列表,index=新数据对应的索引列表)
#添加city列，数据有北京、上海、深圳，索引分别为0、1、3
print("添加city列：")
df1['city']=pd.Series(['北京','上海',"深圳"],index=[0,1,3])
print(df1)
#列删除：del df[要删除的列标签] 或者 数据结构名.pop(要删除的列标签)
#将刚才添加的city列删除
print("删除city列：")
#del df1["city"]
df1.pop("city")
print(df1)

添加city列：
  name gender  age clazz city
0   小明      男   20    1班   北京
1   小花      女   22    1班   上海
2   小兰      女   19    2班  NaN
3   小胜      男   23    1班   深圳
删除city列：
  name gender  age clazz
0   小明      男   20    1班
1   小花      女   22    1班
2   小兰      女   19    2班
3   小胜      男   23    1班

行操作包括行选择、行添加和行删除。  
行的选择可以按行标签、整数位置进行选择，函数分别是loc和iloc函数，另外还可以使用行索引或切片进行选择。  
函数loc的参数是行标签，iloc的参数是行号。  
行添加通过df.append函数实现；行删除通过df. drop函数实现。

In [154]:
d2 = {'name':['小明','小花','小兰','小胜'],  
   'gender':['男','女','女','男'],
     'age':[20,22,19,23],
    'clazz': ['1班','1班','2班','1班']}
df2 = pd.DataFrame(d2,index=['first','second','third','fourth'])
print('原数据帧：')
print(df2)
#单行选择：df.loc[行标签名字] 
#例如：选择second行
print('\n选择second行：')
print(df2.loc["second"])

#多行选择：df.loc[行标签列表] 注意是二维列表！！！ 
#例如：选择second、first行
print('\n选择second、first行：')
print(df2.loc[["first","second"]])

#单行选择：df.iloc[行下标] 注意第一行下标是从0开始的！！
#例如选择第一行
print('\n选择第一行：')
print(df2.iloc[0])
#多行选择：df.iloc[[选中的第1行下标,选中的第2行下标,....]] 注意是二维列表！！！
print('\n选择0，2行：')
print(df2.iloc[[0,2]])
#多行选择：df.iloc[start:end] 选中[start:end)下标范围上的行
print('\n选择0:2行：')
print(df2.iloc[0:2])

原数据帧：
       name gender  age clazz
first    小明      男   20    1班
second   小花      女   22    1班
third    小兰      女   19    2班
fourth   小胜      男   23    1班

选择second行：
name      小花
gender     女
age       22
clazz     1班
Name: second, dtype: object

选择second、first行：
       name gender  age clazz
first    小明      男   20    1班
second   小花      女   22    1班

选择第一行：
name      小明
gender     男
age       20
clazz     1班
Name: first, dtype: object

选择0，2行：
      name gender  age clazz
first   小明      男   20    1班
third   小兰      女   19    2班

选择0:2行：
       name gender  age clazz
first    小明      男   20    1班
second   小花      女   22    1班

行添加：df[*新的行标签*] = pd.Series(*新数据列表*,*index=新数据对应的索引列表*)

In [152]:
#例如：添加新的一行，数据有小红、女、27、6班 索引分别对应name、gender、age、clazz
#新的数据结构名 = 老的数据结构._append(新的一行,ignore_index=True)       *****python2中使用.append ，python3中使用._append *******
#这里建议先忽略掉会报的future warning的错
print("\n原来：df1:\n",df1)
print('添加s行后的df1：')
s = pd.Series({'name':'小红', 'gender':'女', 'age':27, 'clazz':'6班'})
#print(s)
df1 = df1._append(s,ignore_index=True)
print(df1)
#行删除：新的pandas数据结构名字 = 旧结构名.drop(待删除的行对应的索引)
print("删除第二行后,df1：\n")
df1 = df1.drop(1)
print(df1)

原来：df1:
   name gender  age clazz
0   小明      男   20    1班
1   小花      女   22    1班
2   小兰      女   19    2班
3   小胜      男   23    1班
添加s行后的df1：
  name gender  age clazz
0   小明      男   20    1班
1   小花      女   22    1班
2   小兰      女   19    2班
3   小胜      男   23    1班
4   小红      女   27    6班
删除第二行后,df1：

  name gender  age clazz
0   小明      男   20    1班
2   小兰      女   19    2班
3   小胜      男   23    1班
4   小红      女   27    6班

In [155]:
#两个pandas数据结构的合并
d3 = {'name':['小丽','小刚'],            
   'gender':['女','女'],
     'age':[ 21 ,19],
    'clazz': ['3班','2班']}
df3 = pd.DataFrame(d3,index=['fifth','sixth'])
print("df3：\n",df3)
print("--"*8)
print("原来df2：\n",df2)
print("--"*8)
#将df3添加到df2上 append
df2 =df2._append(df3)
print("df3添入df2：\n",df2)
print("--"*8)
#删除fifth行
df2 = df2.drop("fifth")
print("删除fifth行\n",df2)

df3：
       name gender  age clazz
fifth   小丽      女   21    3班
sixth   小刚      女   19    2班
----------------
原来df2：
        name gender  age clazz
first    小明      男   20    1班
second   小花      女   22    1班
third    小兰      女   19    2班
fourth   小胜      男   23    1班
----------------
df3添入df2：
        name gender  age clazz
first    小明      男   20    1班
second   小花      女   22    1班
third    小兰      女   19    2班
fourth   小胜      男   23    1班
fifth    小丽      女   21    3班
sixth    小刚      女   19    2班
----------------
删除fifth行
        name gender  age clazz
first    小明      男   20    1班
second   小花      女   22    1班
third    小兰      女   19    2班
fourth   小胜      男   23    1班
sixth    小刚      女   19    2班

<font color=Tomato>**第二部分**</font>-**DataFrame运算、排序与遍历**  

请在下面<font color=Tomato>**每一行注释**</font>下添加对应的代码

Pandas有两种排序方式，它们分别是：按标签排序（*sort_index*函数）和按实际值（*sort_values*函数）排序。

In [169]:
#排序操作
import numpy as np
data = np.array([[2,5,3,7],[16,14,2,30],[29,27,2,25]])
print(data)
df6 = pd.DataFrame(data,index=[0,4,2],columns=['a','c','b','d'])
print('\n原数据帧：')
print(df6)
print("--"*8)
#行索引升序 数据结构名.sort_index()
print('按行索引升序：')
print(df6.sort_index())
print("--"*8)
#行索引降序 数据结构名.sort_index(ascending=False)
print('按行索引降序：')
print(df6.sort_index(ascending=False))
print("--"*8)
#列索引升序 数据结构名.sort_index(axis=1)
print('按列索引升序：')
print(df6.sort_index(axis=1))
print("--"*8)
#列索引降序 数据结构名.sort_index(ascending=False,axis=1)
print('按列索引降序：')
print(df6.sort_index(ascending=False,axis=1))
print("--"*8)
#按d列排序 数据结构名.sort_values(by=列名)
print('按d列排序：')
print(df6.sort_values(by='d'))
print("--"*8)

[[ 2  5  3  7]
 [16 14  2 30]
 [29 27  2 25]]

原数据帧：
    a   c  b   d
0   2   5  3   7
4  16  14  2  30
2  29  27  2  25
----------------
按行索引升序：
    a   c  b   d
0   2   5  3   7
2  29  27  2  25
4  16  14  2  30
----------------
按行索引降序：
    a   c  b   d
4  16  14  2  30
2  29  27  2  25
0   2   5  3   7
----------------
按列索引升序：
    a  b   c   d
0   2  3   5   7
4  16  2  14  30
2  29  2  27  25
----------------
按列索引降序：
    d   c  b   a
0   7   5  3   2
4  30  14  2  16
2  25  27  2  29
----------------
按d列排序：
    a   c  b   d
0   2   5  3   7
2  29  27  2  25
4  16  14  2  30
----------------

In [183]:
#遍历操作
data2 = np.array([[2,5,3,7],[16,14,2,16],[29,27,2,25]])
df7 = pd.DataFrame(data2,index=[0,4,2],columns=['a','c','b','d'])
print(df7)
'''
for i,j in dict.items():
    print(i,j)
在pandas数据结构中 items()需替换为iteritems()    
'''
#类似于字典形式,遍历df7                                             ***iteritems()已被弃用，应使用items****
for x,y in df7.items():
    print(x, y.values)

    a   c  b   d
0   2   5  3   7
4  16  14  2  16
2  29  27  2  25
a [ 2 16 29]
c [ 5 14 27]
b [3 2 2]
d [ 7 16 25]

<font color=Tomato>**第三部分**</font>-**DataFrame分组与聚合**

In [190]:
d6 = {'name':pd.Series(['小明','小花','小兰','小胜']),  
     'gender':pd.Series(['男','女','女','男']),
     'age':pd.Series([20,22,19,23]),
     'height':pd.Series([178,165,163,175]),
     'class': pd.Series(['1班','1班','2班','1班'])}
df8 = pd.DataFrame(d6)
print('原数据帧：')
print(df8)

原数据帧：
  name gender  age  height class
0   小明      男   20     178    1班
1   小花      女   22     165    1班
2   小兰      女   19     163    2班
3   小胜      男   23     175    1班

<font color = tomato>**分组**</font> *groupby*的过程就是将原有的*DataFrame*按照*groupby*的字段，划分为若干个分组*DataFrame*，被分为多少个组就有多少个分组*DataFrame*。  
所以说，在*groupby*之后的一系列操作（如agg、apply等），均是基于子*DataFrame*的操作。

In [198]:
#分组
#单个分组格式为：df.groupby(字段名).get_group(字段属性值)
print('男生组：')
print(df8.groupby("gender").get_group("男"))
print('--'*8)
print('女生组：')
print(df8.groupby("gender").get_group("女"))
print('--'*8)

#多个分组格式为：df.groupby(字段名列表).groups
print('按班级、性别分组：')
print(df8.groupby(["class","gender"]).groups)
print('--'*8)

男生组：
  name gender  age  height class
0   小明      男   20     178    1班
3   小胜      男   23     175    1班
----------------
女生组：
  name gender  age  height class
1   小花      女   22     165    1班
2   小兰      女   19     163    2班
----------------
按班级、性别分组：
{('1班', '女'): [1], ('1班', '男'): [0, 3], ('2班', '女'): [2]}
----------------

<font color=Tomato>**聚合函数**</font>为每个组返回单个聚合值。当创建了分组*(group by)*对象，就可以对分组数据执行多个聚合操作。

In [223]:
d7 = {'name':pd.Series(['小明','小花','小兰','小胜']),  
   'gender':pd.Series(['男','女','女','男']),
     'age':pd.Series([20,22,19,23]),
    'height':pd.Series([178,165,163,175]),
    'class': pd.Series(['1班','1班','2班','1班'])}
df9 = pd.DataFrame(d7)
groups = df9.groupby('class')      #  df9.groupby(by=["class"])
print(df9)

print('--'*8)
print('班级平均：') #格式为: 分组名.agg(np.mean) 
print(groups[["height"]].agg(np.mean))

print('不同性别学生的年龄最大值：') #格式为: df.groupby(属性).agg(np.max)
print(df9.groupby(by=["gender"])[["age"]].agg(np.max) )

print('--'*8)
print('不同性别学生人数：') #np.size表示元素数量
print(df9.groupby(by=['gender'])[['gender']].agg(np.size) )

  name gender  age  height class
0   小明      男   20     178    1班
1   小花      女   22     165    1班
2   小兰      女   19     163    2班
3   小胜      男   23     175    1班
----------------
班级平均：
           height
class
1班     172.666667
2班     163.000000
不同性别学生的年龄最大值：
        age
gender
女        22
男        23
----------------
不同性别学生人数：
        gender
gender
女            2
男            2

<font color=Tomato>**第四部分**</font>-**个人实验部分**

1. 导入Pandas包+数据读取。

2. 预览数据的前5行和后5行。

In [5]:
#代码实现
import pandas as pd
dfcsv = pd.read_csv('F:\ProgramData\AnacondaData\JupyterNotebook\实验4 运动员信息表.csv',encoding='gbk')

dfcsv.head

<bound method NDFrame.head of        姓名 性别 出生年份（年）  年龄（岁）  身高(cm)  体重(kg)      项目     省份
0     陈楠   女   1983年     35     197      90      篮球    山东省
1    白发全   男   1986年     32     175      64    铁人三项    云南省
2    陈晓佳   女   1988年     30     180      70      篮球    江苏省
3     陈倩   女   1987年     31     163      54  女子现代五项  江苏省
4    曹忠荣   男   1981年     37     180      73  男子现代五项    上海市
..    ... ..     ...    ...     ...     ...     ...    ...
174  赵芸蕾   女   1986年     32     173      62     羽毛球    湖北省
175   周琦   男   1996年     22     217      95      篮球   河南省
176  翟晓川   男   1993年     25     204     100      篮球   河北省
177  赵继伟   男   1995年     23     185      77      篮球    辽宁省
178  邹雨宸   男   1996年     22     208     108      篮球    辽宁省

[179 rows x 8 columns]>

3. 查询前3行的运动员信息。

4. 查询第2-4行的运动员信息。

5. 查询全部运动员的姓名、年龄和参加的项目。

In [6]:
#代码实现
print("查询前3行运动员信息：\n",dfcsv[0:3])
print("---"*20)

print("查询第2-4行运动员信息：\n",dfcsv[1:4])
print("---"*20)

find3 = dfcsv.iloc[ : , [0,3,6]]
print("查询全部运动员的姓名、年龄和参加的项目：\n",find3)

查询前3行运动员信息：
      姓名 性别 出生年份（年）  年龄（岁）  身高(cm)  体重(kg)    项目   省份
0   陈楠   女   1983年     35     197      90    篮球  山东省
1  白发全   男   1986年     32     175      64  铁人三项  云南省
2  陈晓佳   女   1988年     30     180      70    篮球  江苏省
------------------------------------------------------------
查询第2-4行运动员信息：
      姓名 性别 出生年份（年）  年龄（岁）  身高(cm)  体重(kg)      项目     省份
1  白发全   男   1986年     32     175      64    铁人三项    云南省
2  陈晓佳   女   1988年     30     180      70      篮球    江苏省
3   陈倩   女   1987年     31     163      54  女子现代五项  江苏省
------------------------------------------------------------
查询全部运动员的姓名、年龄和参加的项目：
        姓名  年龄（岁）      项目
0     陈楠      35      篮球
1    白发全      32    铁人三项
2    陈晓佳      30      篮球
3     陈倩      31  女子现代五项
4    曹忠荣      37  男子现代五项
..    ...    ...     ...
174  赵芸蕾      32     羽毛球
175   周琦      22      篮球
176  翟晓川      25      篮球
177  赵继伟      23      篮球
178  邹雨宸      22      篮球

[179 rows x 3 columns]

6. 查询年龄小于22岁的运动员姓名、年龄和参加的项目。

7. 查询江西省的运动员姓名、年龄、身高、省份和参加的项目。

In [7]:
#代码实现
print("查询年龄小于22岁的运动员姓名、年龄和参加的项目：")
find_age = find3[find3["年龄（岁）"] < 22]
print(find_age)
print("---"*20)

print("查询江西省的运动员姓名、年龄、身高、省份和参加的项目:")
find_jx = dfcsv.iloc[ : , [0,3,4,6,7]]
find6 = find_jx[find_jx["省份"] == "江西省"]
print(find6)
print("---"*20)

查询年龄小于22岁的运动员姓名、年龄和参加的项目：
      姓名  年龄（岁）    项目
22  葛曼棋      21  女子短跑
51  梁小静      21  女子短跑
------------------------------------------------------------
查询江西省的运动员姓名、年龄、身高、省份和参加的项目:
       姓名  年龄（岁）  身高(cm)        项目   省份
61    刘虹      31     161  女子20公里竞走  江西省
110  吴静钰      31     167       跆拳道  江西省
------------------------------------------------------------

8. 本数据集中有多少个项目？每个项目有多少人参加？

9. 查看各个省各个项目下运动员的平均年龄、身高和体重。

In [8]:
#代码实现

#8.1本数据集中有多少个项目？
#显示形状可以使用，dfcsv['项目'].value_counts().shape[0]
find_item = dfcsv['项目'].nunique()
#8.2每个项目有多少人参加？
find8_num = dfcsv['项目'].value_counts()
print(f"本数据集中有{find_item}个项目。")
print("---"*20)
print(f"每个项目参加的人数：{find8_num}")
print("---"*20)


#9. 查看各个省各个项目下运动员的平均年龄、身高和体重。   
#方法1：使用  df.describe()
print("查看各个省各个项目下运动员的平均年龄、身高和体重：")
print("方法1：")
d=dfcsv.groupby(["省份","项目"])
print(d.describe().T)   #可.T  也可以不用
print("---"*20)

#方法2：
print("方法2：")
h=dfcsv.groupby([dfcsv['省份'],dfcsv['项目']])[["年龄（岁）","身高(cm)","体重(kg)"]].mean()
#h     #也可用 h.head()
print(h)
h.apply(lambda x:x)



#终于写出来了，卧槽，以下垃圾作废（只是用于记录）

# 方法3：先多个分组 ，思路是分组再分组#-------不会写-------
#province = dfcsv[["年龄（岁）","身高(cm)","体重(kg)"]].groupby(dfcsv["省份"])
#print(province.mean())
#province

#e = dfcsv.groupby(["省份","项目"]).agg({"年龄（岁）":'mean', "身高(cm)":mean, "体重(kg)":'mean'})

#dfcsv[["年龄（岁）","身高(cm)","体重(kg)"]].groupby(['省份',"项目"]).mean()
                   
#province = dfcsv[["年龄（岁）","身高(cm)","体重(kg)"]].groupby(dfcsv["省份"])
#province.head()
#c=province.groupby(dfcsv["项目"])
#print(c.mean())

#province = dfcsv[["省份","项目","年龄（岁）","身高(cm)","体重(kg)"]]
#b = province.groupby(by=["省份"])[["项目"]].agg(np.mean())
#print(province.mean())
          
#dfcsv_groups = dfcsv.groupby(["省份","项目"]).groups
#print(dfcsv_groups)
#groups_mean =dfcsv[["省份","项目","年龄（岁）","身高(cm)","体重(kg)"]]
#print(groups_mean.describe())

本数据集中有48个项目。
------------------------------------------------------------
每个项目参加的人数：田径          22
篮球          21
游泳          13
羽毛球         11
射击           9
乒乓球          7
跳水           7
排球           6
花样游泳         6
女子水球         5
女子曲棍球        5
女子短跑         4
帆船           4
赛艇           4
皮划艇静水        3
女子标枪         3
举重           3
击剑           3
蹦床           3
曲棍球          3
水球           2
女子链球         2
网球           2
女子20公里竞走     2
男子20公里竞走     2
自行车          2
女子中长跑        2
高尔夫          2
女子铁饼         2
铁人三项         1
跆拳道          1
体操           1
女子马拉松        1
射箭           1
男子三级跳远       1
男子现代五项       1
女子100米栏      1
女子800米       1
皮划艇激流        1
艺术体操         1
拳击           1
女子三级跳远       1
女子撑杆跳        1
女子现代五项       1
马术           1
女子撑杆跳高       1
花剑           1
男子跳高         1
Name: 项目, dtype: int64
------------------------------------------------------------
查看各个省各个项目下运动员的平均年龄、身高和体重：
方法1：
省份              上海市                                                        \
项目              乒乓球     射击     帆船     排球     水球          游泳     田径 男子现代五项
年龄（岁）  count    1.0    1.0    1.0    1.0    1.0    2.000000    1.0    1.0
       mean    28.0   41.0   31.0   25.0   27.0   27.000000   28.0   37.0
       std      NaN    NaN    NaN    NaN    NaN    2.828427    NaN    NaN
       min     28.0   41.0   31.0   25.0   27.0   25.000000   28.0   37.0
       25%     28.0   41.0   31.0   25.0   27.0   26.000000   28.0   37.0
       50%     28.0   41.0   31.0   25.0   27.0   27.000000   28.0   37.0
       75%     28.0   41.0   31.0   25.0   27.0   28.000000   28.0   37.0
       max     28.0   41.0   31.0   25.0   27.0   29.000000   28.0   37.0
身高(cm) count    1.0    1.0    1.0    1.0    1.0    2.000000    1.0    1.0
       mean   180.0  180.0  176.0  173.0  181.0  176.000000  190.0  180.0
       std      NaN    NaN    NaN    NaN    NaN    1.414214    NaN    NaN
       min    180.0  180.0  176.0  173.0  181.0  175.000000  190.0  180.0
       25%    180.0  180.0  176.0  173.0  181.0  175.500000  190.0  180.0
       50%    180.0  180.0  176.0  173.0  181.0  176.000000  190.0  180.0
       75%    180.0  180.0  176.0  173.0  181.0  176.500000  190.0  180.0
       max    180.0  180.0  176.0  173.0  181.0  177.000000  190.0  180.0
体重(kg) count    1.0    1.0    1.0    1.0    1.0    2.000000    1.0    1.0
       mean    67.0   67.0   60.0   63.0   73.0   66.000000   85.0   73.0
       std      NaN    NaN    NaN    NaN    NaN    5.656854    NaN    NaN
       min     67.0   67.0   60.0   63.0   73.0   62.000000   85.0   73.0
       25%     67.0   67.0   60.0   63.0   73.0   64.000000   85.0   73.0
       50%     67.0   67.0   60.0   63.0   73.0   66.000000   85.0   73.0
       75%     67.0   67.0   60.0   63.0   73.0   68.000000   85.0   73.0
       max     67.0   67.0   60.0   63.0   73.0   70.000000   85.0   73.0

省份                               ...    陕西省                  青海省   黑龙江省  \
项目              羽毛球        花样游泳  ...   女子链球     射击     跳水     田径    自行车
年龄（岁）  count    1.0    2.000000  ...    1.0    1.0    1.0    1.0    1.0
       mean    30.0   26.000000  ...   31.0   34.0   32.0   28.0   28.0
       std      NaN    2.828427  ...    NaN    NaN    NaN    NaN    NaN
       min     30.0   24.000000  ...   31.0   34.0   32.0   28.0   28.0
       25%     30.0   25.000000  ...   31.0   34.0   32.0   28.0   28.0
       50%     30.0   26.000000  ...   31.0   34.0   32.0   28.0   28.0
       75%     30.0   27.000000  ...   31.0   34.0   32.0   28.0   28.0
       max     30.0   28.000000  ...   31.0   34.0   32.0   28.0   28.0
身高(cm) count    1.0    2.000000  ...    1.0    1.0    1.0    1.0    1.0
       mean   178.0  172.000000  ...  174.0  168.0  170.0  159.0  163.0
       std      NaN    4.242641  ...    NaN    NaN    NaN    NaN    NaN
       min    178.0  169.000000  ...  174.0  168.0  170.0  159.0  163.0
       25%    178.0  170.500000  ...  174.0  168.0  170.0  159.0  163.0
       50%    178.0  172.000000  ...  174.0  168.0  170.0  159.0  163.0
       75%    178.0  173.500000  ...  174.0  168.0  170.0  159.0  163.0
       max    178.0  175.000000  ...  174.0  168.0  170.0  159.0  163.0
体重(kg) count    1.0    2.000000  ...    1.0    1.0    1.0    1.0    1.0
       mean    65.0   60.500000  ...   87.0   65.0   65.0   47.0   61.0
       std      NaN    2.121320  ...    NaN    NaN    NaN    NaN    NaN
       min     65.0   59.000000  ...   87.0   65.0   65.0   47.0   61.0
       25%     65.0   59.750000  ...   87.0   65.0   65.0   47.0   61.0
       50%     65.0   60.500000  ...   87.0   65.0   65.0   47.0   61.0
       75%     65.0   61.250000  ...   87.0   65.0   65.0   47.0   61.0
       max     65.0   62.000000  ...   87.0   65.0   65.0   47.0   61.0

省份           黑龙江省
项目              乒乓球   女子短跑     田径 男子20公里竞走     篮球
年龄（岁）  count    1.0    1.0    1.0      1.0    1.0
       mean    28.0   23.0   24.0     27.0   26.0
       std      NaN    NaN    NaN      NaN    NaN
       min     28.0   23.0   24.0     27.0   26.0
       25%     28.0   23.0   24.0     27.0   26.0
       50%     28.0   23.0   24.0     27.0   26.0
       75%     28.0   23.0   24.0     27.0   26.0
       max     28.0   23.0   24.0     27.0   26.0
身高(cm) count    1.0    1.0    1.0      1.0    1.0
       mean   170.0  165.0  181.0    177.0  191.0
       std      NaN    NaN    NaN      NaN    NaN
       min    170.0  165.0  181.0    177.0  191.0
       25%    170.0  165.0  181.0    177.0  191.0
       50%    170.0  165.0  181.0    177.0  191.0
       75%    170.0  165.0  181.0    177.0  191.0
       max    170.0  165.0  181.0    177.0  191.0
体重(kg) count    1.0    1.0    1.0      1.0    1.0
       mean    63.0   55.0   70.0     63.0   85.0
       std      NaN    NaN    NaN      NaN    NaN
       min     63.0   55.0   70.0     63.0   85.0
       25%     63.0   55.0   70.0     63.0   85.0
       50%     63.0   55.0   70.0     63.0   85.0
       75%     63.0   55.0   70.0     63.0   85.0
       max     63.0   55.0   70.0     63.0   85.0

[24 rows x 145 columns]
------------------------------------------------------------
方法2：
                 年龄（岁）  身高(cm)  体重(kg)
省份     项目
上海市    乒乓球        28.0   180.0    67.0
       射击         41.0   180.0    67.0
       帆船         31.0   176.0    60.0
       排球         25.0   173.0    63.0
       水球         27.0   181.0    73.0
...                ...     ...     ...
黑龙江省   乒乓球        28.0   170.0    63.0
       女子短跑       23.0   165.0    55.0
       田径         24.0   181.0    70.0
       男子20公里竞走   27.0   177.0    63.0
       篮球         26.0   191.0    85.0

[145 rows x 3 columns]

                 年龄（岁）  身高(cm)  体重(kg)
省份     项目
上海市    乒乓球        28.0   180.0    67.0
       射击         41.0   180.0    67.0
       帆船         31.0   176.0    60.0
       排球         25.0   173.0    63.0
       水球         27.0   181.0    73.0
...                ...     ...     ...
黑龙江省   乒乓球        28.0   170.0    63.0
       女子短跑       23.0   165.0    55.0
       田径         24.0   181.0    70.0
       男子20公里竞走   27.0   177.0    63.0
       篮球         26.0   191.0    85.0

[145 rows x 3 columns]


10. 查询所有男篮运动员的信息。

In [22]:
#代码实现
#dfcsv["性别"]=="男"&dfcsv["项目"]=="篮球"
#所有男运动员
dfcsv_man = dfcsv[dfcsv["性别"]=="男"]
#男篮球运动员
basketball_man = dfcsv_man[dfcsv_man["项目"]=="篮球"]
print(basketball_man)

        姓名 性别 出生年份（年）  年龄（岁）  身高(cm)  体重(kg)  项目        省份
16   丁彦雨航   男   1993年     25     200      91  篮球  新疆维吾尔自治区
28    郭艾伦   男   1993年     25     192      85  篮球       辽宁省
48    李慕豪   男   1992年     26     225     111  篮球      贵州贵阳
106    睢冉   男   1992年     26     192      95  篮球       山西省
124   王哲林   男   1994年     24     214     110  篮球      福建省
155   易建联   男   1987年     31     213     113  篮球       广东省
161    周鹏   男   1989年     29     206      90  篮球       辽宁省
175    周琦   男   1996年     22     217      95  篮球      河南省
176   翟晓川   男   1993年     25     204     100  篮球      河北省
177   赵继伟   男   1995年     23     185      77  篮球       辽宁省
178   邹雨宸   男   1996年     22     208     108  篮球       辽宁省


11. 筛选所有游泳和花样游泳运动员的信息。

12. 筛选所有女游泳信息。

In [23]:
#代码实现
#dfcsv["项目"]=="游泳"&dfcsv["项目"]=="花样游泳"
#11.筛选所有游泳和花样游泳运动员的信息。
    #分组
dfcsv_swim1 = dfcsv.groupby(by=["项目"]).get_group("游泳")
dfcsv_swim2 = dfcsv.groupby(by=["项目"]).get_group("花样游泳")
    #拼接
dfcsv_swim3 = dfcsv_swim1._append(dfcsv_swim2)
    #打印输出
print('所有游泳和花样游泳运动员的信息:\n',dfcsv_swim3)
print("---"*20)

#12.筛选所有女游泳信息。
swim_woman = dfcsv_swim3.groupby(by=["性别"]).get_group("女")
print(swim_woman)

所有游泳和花样游泳运动员的信息:
        姓名 性别 出生年份（年）  年龄（岁）  身高(cm)  体重(kg)    项目     省份
24   傅园慧   女   1996年     22     177      63    游泳    浙江省
36   何健彬   男   1993年     25     188      79    游泳    广东省
37    顾笑   女   1993年     25     174      60    游泳  江苏省
60   林永庆   男   1992年     26     190      80    游泳    辽宁省
62    李响   男   1993年     25     192      86    游泳    天津市
72    陆滢   女   1989年     29     175      62    游泳    上海市
82   宁泽涛   男   1993年     25     191      77    游泳  河南省
97    孙杨   男   1991年     27     198      89    游泳    浙江省
107   唐奕   女   1993年     25     177      70    游泳    上海市
123   汪顺   男   1994年     24     192      74    游泳    浙江省
129  王施佳   女   1993年     25     173      62    游泳    辽宁省
137   辛鑫   女   1996年     22     175      58    游泳  山东省
154  叶诗文   女   1996年     22     172      64    游泳    浙江省
7     曾珍   女   1993年     25     170      61  花样游泳  四川省
32   黄雪辰   女   1990年     28     175      62  花样游泳    上海市
59   梁馨枰   女   1994年     24     171      60  花样游泳  江苏省
103  孙文雁   女   1989年     29     170      58  花样游泳  湖南省
112  汤梦妮   女   1994年     24     169      59  花样游泳    上海市
148  尹成昕   女   1995年     23     168      58  花样游泳    湖北省
------------------------------------------------------------
       姓名 性别 出生年份（年）  年龄（岁）  身高(cm)  体重(kg)    项目     省份
24   傅园慧   女   1996年     22     177      63    游泳    浙江省
37    顾笑   女   1993年     25     174      60    游泳  江苏省
72    陆滢   女   1989年     29     175      62    游泳    上海市
107   唐奕   女   1993年     25     177      70    游泳    上海市
129  王施佳   女   1993年     25     173      62    游泳    辽宁省
137   辛鑫   女   1996年     22     175      58    游泳  山东省
154  叶诗文   女   1996年     22     172      64    游泳    浙江省
7     曾珍   女   1993年     25     170      61  花样游泳  四川省
32   黄雪辰   女   1990年     28     175      62  花样游泳    上海市
59   梁馨枰   女   1994年     24     171      60  花样游泳  江苏省
103  孙文雁   女   1989年     29     170      58  花样游泳  湖南省
112  汤梦妮   女   1994年     24     169      59  花样游泳    上海市
148  尹成昕   女   1995年     23     168      58  花样游泳    湖北省


13. 统计每个运动员的体质指数(BMI值)，并判断其是否正常。

    BMI = 体重(kg)/(身高(m)/100)^2, BMI处于20-25之间属于正常， BMI<20过轻， BMI>25则过重。  
    提示： 判断方法使用apply( lambda x: )函数

In [24]:
#代码实现
#添加一行体质指数和状态
dfcsv["体质指数"]=0
dfcsv["体质状态"]=0

#计算BMI值
sumbmi = dfcsv["体重(kg)"]/(dfcsv["身高(cm)"]/100)**2

#方法1：
#判断
dfcsv["体质指数"] = sumbmi
dfcsv["体质状态"]=dfcsv["体质指数"].apply(lambda x:'过轻'if x<20
          else "正常" if x<25
          else "过重")
 print(dfcsv)

#方法2
'''
def BMICHeck(bmi):
    if bmi <20:
        return "过轻"
    slif bmi <=25:
        return "正常"
    else:
        return "过重"
        
df["BMICHeck"] = df["BMI"].apply(BMICheck)
    
'''
    
#方法2   淘汰（没处理好）//axis=1 表示轴为列，0默认为行
# bmi1 = dfcsv[sumbmi>25].apply( lambda x: "过重",axis=1)
# bmi2 = dfcsv[sumbmi>20].apply( lambda x: "正常",axis=1)
# bmi3 = dfcsv[sumbmi<20].apply( lambda x: "太轻",axis=1)
# print(bmi1,bmi2,bmi3)

# dfcsv["体质状态"] =bmi1 or bmi2 or bmi3

       姓名 性别 出生年份（年）  年龄（岁）  身高(cm)  体重(kg)      项目     省份        BMI BMI状态
0     陈楠   女   1983年     35     197      90      篮球    山东省  23.190497    正常
1    白发全   男   1986年     32     175      64    铁人三项    云南省  20.897959    正常
2    陈晓佳   女   1988年     30     180      70      篮球    江苏省  21.604938    正常
3     陈倩   女   1987年     31     163      54  女子现代五项  江苏省    20.324438    正常
4    曹忠荣   男   1981年     37     180      73  男子现代五项    上海市  22.530864    正常
..    ... ..     ...    ...     ...     ...     ...    ...        ...   ...
174  赵芸蕾   女   1986年     32     173      62     羽毛球    湖北省  20.715694    正常
175   周琦   男   1996年     22     217      95      篮球   河南省   20.174563    正常
176  翟晓川   男   1993年     25     204     100      篮球   河北省   24.029220    正常
177  赵继伟   男   1995年     23     185      77      篮球    辽宁省  22.498174    正常
178  邹雨宸   男   1996年     22     208     108      篮球    辽宁省  24.963018    正常

[179 rows x 10 columns]